<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="icon" href="../static/img/bbb.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/tooplate.css">
</head>

<body class="bg03">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="../static/img/bbb.png"width="80px" height="80px">
                            <h2 class="tm-block-title mt-3">登入</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <form action="/login" method="post" class="tm-login-form">
                                <div class="input-group">
                                    <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Username</label>
                                    <input name="username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username"required>
                                </div>
                                <div class="input-group mt-3">
                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>
                                    <input name="password" type="password" class="form-control validate" id="password" required>
                                </div>
                                <p style="color: red;display:center;font-size: 18px; width: 341px;"  style="margin: 0 auto;">{{error}}</p>
                                <div class="input-group mt-3">
                                    <input type="submit" class="btn btn-primary d-inline-block mx-auto" value="登入">
                                    
                                </div>
                                <div class="input-group mt-3;">
                                    <a>還未註冊嗎? </a>
                                    <a href="/registration" width="100px">點此註冊</a>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>